:host {

    form {
        
        textarea {
            overflow: auto;
            width: 100%;
            resize: none !important;
        }

        textarea[readonly] {
            opacity: 0.3 !important;
            overflow: none !important;
            pointer-events: none !important;
            user-select: none !important;
        }

        tr.tr-readonly {
            pointer-events: none !important;
            user-select: none !important;
        }

        .td-textarea {
            padding: 0;
        }
    }
}